{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1 class="jumbotron text-center">{% trans 'Статусы' %}</h1>

          <h5><a href="{% url 'create_status' %}" class="text-black">{% trans 'Создать статус' %}</a></h5>

        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'Имя' %}</th>
                <th>{% trans 'Дата создания' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for status in status_list %}
                <tr>
                    <td>{{ status.id }}</td>
                    <td>{{ status.name }}</td>
                    <td>{{ status.created_at }}</td>
                    <td>
                        <a href={% url 'update' status.id %} >{% trans 'Изменить' %}</a>
                        <br>
                        <a href={% url 'delete' status.id %}>{% trans 'Удалить' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock content %}