{% load bootstrap4 static i18n %}
<!DOCTYPE html>
<html lang="ru-ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans 'Менеджер задач Hexlet' %}</title>
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include 'include/header.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'include/footer.html' %}
  </body>
</html>